.my-style-class {
    -fx-font-size: 100pt;
    -fx-font-family: "Arial";
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.my-style-class button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
}

.my-style-class button:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: #4CAF50;
    -fx-border-color: #4CAF50;
}

.button:hover {
    -fx-background-color: #6d7c71;
    -fx-text-fill: #e7e4e3;
    -fx-cursor: hand;
}



#bodyText {
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font: 20px "Helvetica Neue";
}

#topMenuButton {
    -fx-font-size: 13px;
    -fx-min-width: 115px;
    -fx-min-height: 40px;
    -fx-background-color: #9FB8AD;
    -fx-border-width: 2;
    -fx-background-radius: 5em;
}

#topMenuButton:hover {
    -fx-background-color: #6d7c71;
    -fx-text-fill: #e7e4e3;
    -fx-cursor: hand;
}

#topMenuButton:focused {
    -fx-background-color: #404f44;
    -fx-text-fill: #e7e4e3;
    -fx-cursor: hand;
}

#topMenuButton:pressed {
    -fx-background-color: #404f44;
    -fx-text-fill: #e7e4e3;
}


#loginButton {
    -fx-background-color: #9FB8ADFF;
    -fx-text-fill: #010501;
    -fx-padding: 10px;
    -fx-border-color: #65756a;
    -fx-border-radius: 5em;

    -fx-border-width: 2px;
}

#loginButton:hover {
    -fx-background-color: #404f44;
    -fx-text-fill: #ffffff;
    -fx-border-color: #9FB8ADFF;
}


#textField {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 5em;
    -fx-border-width: 1px;
    -fx-border-color: #d9d9d9;
    -fx-border-radius: 5em;
    -fx-padding: 8px;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-spacing: 10px;
}

#textField:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}


#actionButton {
    -fx-font-size: 15px;
    -fx-min-width: 100px;
    -fx-min-height: 50px;
    -fx-background-radius: 4em;
    -fx-border-width: 2px;
    -fx-background-color: #9FB8AD;
    -fx-border-width: 2;
    -fx-padding: 10px;

}

#actionButton:hover {
    -fx-background-color: #6d7c71;
    -fx-text-fill: #e7e4e3;
    -fx-cursor: hand;
}


.loginScreen1 {
    -fx-background-image: url("/Backgrounds/background1.jpg");
}
.loginScreen2 {
    -fx-background-image: url("/Backgrounds/background2.jpg");
}
.loginScreen3 {
    -fx-background-image: url("/Backgrounds/background3.jpg");
}


#overlayLogin{
    -fx-background-color: #e7e4e3;
    -fx-background-radius: 10px;
}


#categoryMenuButton {

    -fx-background-color: #f2f2f2;
    -fx-background-radius: 1em;
    -fx-border-width: 1px;
    -fx-border-color: #d9d9d9;
    -fx-border-radius: 1em;
    -fx-padding: 8px;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-spacing: 10px;
}

#categoryMenuButton:hover {
    -fx-background-color: #c7cbca;
    -fx-text-fill: #e7e4e3;
    -fx-cursor: hand;
}

#titleText {
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font: 60px "Times New Roman";
}

#squareButton {
    -fx-background-color: #9FB8AD;
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: #9FB8AD;
    -fx-border-width: 2px;
    -fx-max-height: 20px;
    -fx-max-width: 20px;
}

#squareButton:hover {
    -fx-background-color: #6d7c71;
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-max-height: 20px;
    -fx-max-width: 20px;;
    -fx-cursor: hand;
}

#underTitleText {
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font: 20px "Times New Roman";
}

#smallText {
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font: 12px "Times New Roman";
}

#linkSmallText {
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font: 12px "Times New Roman";
    -fx-underline: true;
}

#linkSmallText:hover {
    -fx-underline: false;
    -fx-cursor: hand;
    -fx-text-fill: #27a5d5;
}

#errorText {
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font: 12px "Times New Roman";
    -fx-fill: #f60707;
}


#backButton {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: rgb(1, 5, 1);
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: rgba(159, 184, 173, 0);
    -fx-border-width: 2px;
    -fx-max-height: 50px;
    -fx-max-width: 50px;
}

#backButton:hover {
    -fx-background-color: rgba(215, 212, 211, 0.3);
    -fx-text-fill: #e7e4e3;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-max-height: 20px;
    -fx-max-width: 20px;;
    -fx-cursor: hand;
}

default-color0.chart-pie {
    -fx-pie-color: #65756a
}

default-color1.chart-pie {
    -fx-pie-color: #9d44bd
}

default-color2.chart-pie {
    -fx-pie-color: #c7cbca
}

.my-pie-chart .chart-pie > .pie-legend > .pie-label {
    -fx-text-fill: #404f44;
}

.my-pie-chart .chart-pie > .data0 {
    -fx-pie-color: #7f8674;
}

.my-pie-chart .chart-pie > .data1 {
    -fx-pie-color: #c7cbca;
}

.my-pie-chart .chart-pie > .data2 {
    -fx-pie-color: #c7cbca;
}


.date-picker {
    -fx-background-color: #f7f7f7 !important;
    -fx-padding: 10px !important;
    -fx-spacing: 10px !important;
    -fx-background-insets: 0 !important;
}

.date-picker .content {
    -fx-background-color: #fff !important;
    -fx-padding: 20px !important;
    -fx-background-insets: 0 !important;
}

.date-picker .content > .month-year-pane {
    -fx-padding: 10px !important;
}

.date-picker .content > .month-year-pane > .label {
    -fx-font-size: 18px !important;
    -fx-font-weight: bold !important;
    -fx-text-fill: #333 !important;
}

.date-picker .content > .month-year-pane > .arrow-button {
    -fx-background-color: transparent !important;
}

.date-picker .content > .month-year-pane > .arrow-button > .arrow {
    -fx-background-color: #333 !important;
}

.date-picker .content > .calendar-grid > .day-cell {
    -fx-background-color: transparent !important;
    -fx-text-fill: #333 !important;
    -fx-font-size: 14px !important;
}

.date-picker .content > .calendar-grid > .day-cell:hover {
    -fx-background-color: #eee !important;
}

.date-picker .content > .calendar-grid > .day-cell:selected {
    -fx-background-color: #333 !important;
    -fx-text-fill: #fff !important;
}


/* Style for the table container */
/*.table-view {*/
/*    -fx-background-color: transparent;*/
/*    -fx-background-radius: 20px;*/
/*    -fx-effect: gaussianBlur(5);*/
/*}*/

/* Style for the table header */
.table-header-background {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-insets: 0;
    -fx-padding: 5 5 5 5;
    -fx-border-color: #CFCFCF;
    -fx-border-insets: 0;
    -fx-border-width: 0 0 1 0;
}

/* Style for the table header label */
.table-column .label {
    -fx-text-fill: #707070;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

/* Style for the table row */
.table-row-cell:odd {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

/* Style for the table cell */
.table-cell {
    -fx-alignment: center-left;
    -fx-padding: 5 10 5 10;
}






